
/********************************** Title **********************************/
#page {
  font-size: 80px;
}
/********************************* Jumbotron *********************************/

/********************************* Main Body *********************************/
#info {
  font-size: 18px;
}

#readingpic {
  width: 100%;
  height: auto;
}
